{% extends 'adminBase.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add Cinema</title>
    {% endblock %}
</head>

{% block body %}

<body>
<div class="wrapper">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <form method="POST" class="signup" autocomplete="off">
  <h1>Add a Cinema</h1>


  <div class="standard-field">
    <input class="standard-input" type="text" name="name" id="username" required />
    <label class="standard-label" for="name">Name</label>
  </div>



  <div class="standard-field">
    <input class="standard-input" type="text" name="address1" id="username" required />
    <label class="standard-label" for="address1">Address Line 1</label>
  </div>

        <div class="standard-field">
    <input class="standard-input" type="text" name="address2" id="username" required />
    <label class="standard-label" for="address2">Address Line 2</label>
  </div>

        <div class="standard-field">
    <input class="standard-input" type="text" name="city" id="username" required />
    <label class="standard-label" for="city">City</label>
  </div>

          <div class="standard-field">
    <input class="standard-input" type="text" name="county" id="username" required />
    <label class="standard-label" for="county">County</label>
  </div>



        <div class="standard-field">
    <input class="standard-input" type="text" name="postcode" id="username" required />
    <label class="standard-label" for="postcode">postcode</label>
  </div>



    <button type="submit">Add Cinema</button>
</form>
    </div>
</body>
</html>

</body>
{% endblock %}



