{% extends 'adminBase.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
</script>

    <title>Select Seats</title>

    {% endblock %}
</head>
{% block body %}
    <div class="wrapper">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <script>
                document.querySelector('.alert-dismissible button.close').addEventListener('click', (e) => {
                    e.currentTarget.parentElement.remove();
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" class="signup" autocomplete="off" style="margin-bottom: 150px;">
  <h1>Create Screening</h1>
     <label for="screen">Choose a Screen</label>
    <select name="screen" id="screen">
        {% for row in auditoriumDetails %}
        <option value="{{ row[0] }}">{{row[1]}} - Screen {{row[2]}}</option>
        {% endfor %}
    </select>

    <label for="films" style="margin-top: 10px;">Choose a Film</label>
    <select name="films" id="films">
        {% for film in filmDetails %}
        <option value="{{ film[0] }}">{{film[1]}}</option>
        {% endfor %}
    </select>

    <label for="film_time" style="margin-top: 10px;">Screening Time</label>
    <input type="datetime-local" name="film_time" placeholder="yyyy-mm-dd"/>


    <button type="submit" style="margin-top: 30px;">Create Screening</button>
</form>
    </div>
</body>
</html>
{% endblock %}





    <!--
<h1>Create a Screening</h1>
<form method="POST" action="">

    <label for="screen">Choose a Screen</label>
    <select name="screen" id="screen">
        {% for row in auditoriumDetails %}
        <option value="{{ row[0] }}">{{row[1]}} - Screen {{row[2]}}</option>
        {% endfor %}
    </select>
    <br>

    <label for="films">Choose a Film</label>
    <select name="films" id="films">
        {% for film in filmDetails %}
        <option value="{{ film[0] }}">{{film[1]}}</option>
        {% endfor %}
    </select>
    <br>
    Start Time<input type="datetime-local" name="film_time" />
    <br>
    <input type="submit">
    </form>



-->