{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Select Seats</title>


    {% endblock %}
</head>
{% block body %}
<body>
<h1>{{ title }} - {{ time }}</h1>
<div class="seating_key">
<div><div class='box white'></div>Available</div>

<div><div class='box green'></div>Selected</div>

<div><div class='box grey'></div>Unavailable</div>
</div>
<div class="seat-map-container">


<div id="container">

</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
const container = document.getElementById("container");


var bookedSeats = {{ reserved_numbers|tojson }}

function makeRows(rows, cols) {
  container.style.setProperty('--grid-rows', rows);
  container.style.setProperty('--grid-cols', cols);
  for (c = 0; c < (rows * cols); c++) {
    let cell = document.createElement("div");
    cell.innerText = (c + 1);
    cell.id = "seat" + c;
    cell.num = c;
    container.appendChild(cell).className = "seat";
  };
};

makeRows({{ rows }}, {{ columns }});

$('.seat').click((e) => {
	if(!(e.currentTarget.classList.contains('booked'))) {

		e.currentTarget.classList.toggle('selected');

    quantity = (document.getElementsByClassName("selected").length);
    document.getElementById('ticket-count').innerHTML = quantity
    document.getElementById("total_value").innerHTML="£"+9.00*quantity +".00"
    document.getElementById("quantity").innerHTML = quantity + " Ticket(s)"
    document.getElementById("book-btn").style.visibility = "visible"
    if (quantity==0){
    	document.getElementById("quantity").innerHTML = "Select your seats!"
    	document.getElementById("book-btn").style.visibility = "hidden"
        document.getElementById("total_value").innerHTML="£0.00"
    }
    var all = $(".selected").map(function() {
    return this.num;
		}).get();
    console.log(all);
   document.getElementById("hidden").value = all;

  }
});

for(var i in bookedSeats){
	booked = (document.getElementById("seat" + bookedSeats[i]));
    booked.className = "seat booked"
}


$('#book-btn').click((e) => {
    var all = $(".selected").map(function() {
    return this.num;
}).get();



})
</script>

<div class="seat-map-confirm-booking">
<h1>Confirm Booking</h1>

<table style="width:100%" id="main_info">

<tr>
<td class="left">Name</td>
    {% if g.user %}
<td class="right">Hugh Merrell</td>
    {% else %}
 <td class="right"></td>
    {% endif %}
</tr>
<tr>
<td class="left" >Film</td>
<td class="right">{{ title }}</td>
</tr>
<tr>
<td class="left">Cinema</td>
<td class="right">{{ session['cinema_name'] }}</td>
</tr>

</table>

<table style="width:100%" id="timings">
<tr>
<td class="left">Date</td>
<td class="right">{{ time }}</td>
</tr>


</table>


<table style="width:100%" id="pricing">
<tr>
<td class="left">Ticket Price</td>
<td class="right">£9.00</td>
</tr>
<tr>
<td class="left">Ticket Quantity</td>
<td class="right" id="ticket-count">0</td>
</tr>
<tr>
<td id="total">Total</td>
<td id="total_value">£0.00</td>
</tr>
</table>

    <div id = "right">
<p id= "quantity">
 Select your seats!
 </p>

    <form method="POST" action="">
    <input type="hidden" id="hidden" name="hidden-ticket-value">

        <button type="submit" value="Book" id="book-btn">To Confirmation</button>
    </form>

</div>

</div>
</div>



</html>
{%  endblock %}