<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Title</title>

</head>
<body class="nav-class">

    <nav>
        <div class="web-title">
            <h4>CINEMA BOOKING SYSTEM</h4>
        </div>

        <ul class="site-link">

            {% if g.admin==True %}

            <li>
                <a href="{{ url_for('admin_utils.add_cinema') }}">Admin</a>
            </li>
            {% endif %}

            {% if session['cinema_name'] and session['cinema_url'] %}
            <li>
                <a href="{{ url_for('booking.cinema_times', name=session['cinema_name'], week=0) }}">{{ session['cinema_name'] }}</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('booking.home') }}">Select Cinema</a>
            </li>

            {% if g.user %}
            <li>
                <a href='{{ url_for('booking.my_account') }}'>My Account</a>
            </li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}


        </ul>

        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    {% block body %}
    {% endblock %}
</body>
</html>