
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

body {

  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

@media screen and (max-width: 500px){
  body{
    flex-direction: column;
  }
}

button,
input {
  border: none;
  outline: none;
}


.signup {
  background-color: white;
  width: 100%;
  height: 848px;
  max-width: 500px;
  padding: 55px 70px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

h1 {
  text-align: center;
  color: #a4243b;
}
h2 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;

  margin-bottom: 45px;
}

h2 span {
  text-decoration: underline;
  cursor: pointer;
  color: #a4243b;
}


.standard-field {
  display: flex;
  flex-direction: column;
  width: 100%;
   z-index: 0;
  position: relative;
  margin-bottom: 50px;

}

.standard-field:before {
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  transition: all 0.4s ease;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #a4243b;
  bottom: 0;
  left: 50%;
}

.standard-field:hover:before {
  width: 100%;
}


.standard-input {
  padding: 11px 2px 0;
  width: 100%;
  border-bottom: 2px solid ghostwhite;
  height: 100%;
  font-size: 1.1rem;


}

/*  Label */
.standard-label {
  color: #74767896;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  font-size: 1.3rem;
  transition: all 0.4s ease;
  pointer-events: none;
}

.standard-input:focus + .standard-label,
.standard-input:valid + .standard-label {
  top: 0;
  font-size: 1rem;
  background-color: white;
}





.left {
  color: #718096;

  width: 50%;
  }

 .right {
   font-weight: 600;

   text-align: right;

   width: 50%;
 }

 #main_info {
   margin-bottom: 40px;
 }

 button {
  background: #a4243b;
  color: white;
   cursor: pointer;
  padding: 11px 0;
   border-radius: 20px;
   font-size: 1.1rem;

}

 #timings {
   margin-bottom: 40px;
 }
 #pricing {
   margin-bottom: 40px;
 }

 button:hover {
  background: #4b111b;
}

 #total {
   font-weight: 600;
   padding-top: 32px;
   color: #000000;
   font-size: 20px;
   width:50%;
 }

#total_value{
  font-weight: 600;
   padding-top: 32px;
   color: #000000;
   font-size: 20px;
   width:50%;
  text-align: right;
}
