body.nav-class  {
    margin: 0;
}


nav * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 7vh;
    background-color: #8e262d;
    font-family:  sans-serif;
    z-index: 2;
}

.web-title {
    color: rgb(225, 225, 225);

    letter-spacing: 0px;
    font-size: 17px;

}

.site-link {
    display: flex;
    justify-content: space-around;
    width: 70%;
}


.site-link li{
    list-style: none;

}

.site-link a{
    color: rgb(225, 225, 225);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;

    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
     margin: -2em;
}

.burger{
   display: none;

}

.site-link a:hover {
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
    font-size: 16px;
}

.burger div{
    height: 2px;
    width: 24px;

    background-color: rgb(225, 225, 225);
    margin: 5px;

}

@media screen and (max-width: 1024px){
    body.nav-class{

    }
}

@media screen and (max-width: 899px){
    body.nav-class{
        overflow-x: hidden;
    }
    .site-link{
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 7vh;
        background-color: #8e262d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 52%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;

    }
    .site-link li{
        opacity: 0;

    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.slide-nav{
    transform: translateX(0%);
}

@keyframes nav-links-slide{
    from {

        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

body {
    padding-top: 71px;

}
