#register {
    height: 300px;
    margin: 0px 25% 100px;
    padding: 50px 50px 50px;
    background-color: rgba(62, 19, 21,0.1);
    height: 40vh;

}

#wrapper {
    margin: 0px 25% 100px;
    padding-top: 20px;

    height: 10vh;

}

#selectheading {
    font-family: sans-serif;
    text-align: center;
    color: rgb(226, 226, 226);

}

.all-film-images{


}

#selectdropdown {
    text-align: center;

}

#selectdropdown > form {
    margin-top: 5%;
}

#container {

    width: 60%;
    max-height: 50%;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-area: inherit;
}

.seat {

  border: 0.1em solid #ddd;
  text-align: center;
  cursor: pointer;
}

.seat.selected {
  background-color: green;
}

.booked {

  border: 0.1em solid #ddd;
  background-color: grey;
  cursor: not-allowed;
}

#book-btn {
   visibility: hidden;
}

label {
    width: 240px;
    display: inline-block;
    text-align: right;
}

img {
   padding-top: 10px;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}


.white {
  background-color: white;
}

.green {
  background-color: green;
}

.grey {
  background-color: grey;
}

.seating_key {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}




.seat-map-container{

    display: flex;
    max-height: 70%;
    flex-direction: row;
}


.seat-map-confirm-booking{
    height: 100%;
    width: 25%;
    margin-left: 10%;

    margin-top: 5em;
    float: right;
}

.seat-map-confirm-booking h1{
    text-align: center;
    margin-bottom: 10%;
}

.left {
  color: #718096;

  width: 50%;
  }

 .right {
   font-weight: 600;

   text-align: right;

   width: 50%;
 }

 #main_info {
   margin-bottom: 40px;
 }
 #timings {
   margin-bottom: 40px;
 }
 #pricing {
   margin-bottom: 40px;
 }
 #total {
   font-weight: 600;
   padding-top: 32px;
   color: #000000;
   font-size: 20px;
   width:50%;
 }

#total_value{
  font-weight: 600;
   padding-top: 32px;
   color: #000000;
   font-size: 20px;
   width:50%;
  text-align: right;
}

button {
  background: #a4243b;
  color: white;
  padding: 12px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;

}
button:hover {
  background: #4b111b;
}

button,
input {
  border: none;
  outline: none;
}



@media screen and (max-width: 1200px){
    button:hover {
    background: #4b111b;
}
    #container{
        width: 80%;
    }
    .seat-map-container{
        flex-direction: column;
        padding-bottom: 100px;
    }
    .seat-map-confirm-booking{
        width: 60%;
    }
    .seating_key{
        width: 80%;
    }

}


@media screen and (max-width: 540px){
    .seating_key{
        width: 100%;

    }
    .seat-map-confirm-booking{
        width: 80%;
    }

}




.select-cinema-form button{
    margin-top: 5px;
}