
.main {

  display: flex;
  height: auto;
  max-width: 100%;
  min-width: 0;
  min-height: 0;

}



img {
  height: 300px;
  width: 200px;

}

.wrapper {
  max-width: 100%;

  width: auto;
  display: grid;
  grid-template-columns:repeat(7, 12vw);
  grid-gap: 1px;
  overflow: scroll;

}

.wrapper > span {
    max-height: 300px;
    overflow: scroll;
}

.wrapper > span > ul {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type:none;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;

}
.wrapper > span > ul > li{

  padding-left: 5px;
  padding-right: 5px;

  margin:10px 0;

}

.wrapper > span > h2 {
  text-align:center;
}


#week-counter{
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

#next{

  float: right;
  padding-right: 7%;

}

.film-image{}

.film-image:hover{
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

span{
  border-width: 1px;
  border-style: solid;
}


@media screen and (max-width: 1324px){
  .wrapper {

  grid-template-columns:repeat(7, 13vw);

  }

@media screen and (max-width: 1222px){
  .wrapper {

  grid-template-columns:repeat(7, 14vw);

  }

  @media screen and (max-width: 1135px){
  .wrapper {

  grid-template-columns:repeat(7, 16vw);

  }


@media screen and (max-width: 993px){
  .wrapper {

  grid-template-columns:repeat(7, 20vw);


}



  @media screen and (max-width: 794px){
  .wrapper {

  grid-template-columns:repeat(7, 22vw);
  }


    @media screen and (max-width: 723px){
  .wrapper {

  grid-template-columns:repeat(7, 24vw);
  }




      @media screen and (max-width: 663px){
  .wrapper {

  grid-template-columns:repeat(7, 28vw);
  }

}

@media screen and (max-width: 568px){
  .wrapper {
  min-height:250px;
  grid-template-columns:repeat(7, 35vw);
  }
  img {
  display: none;
}

}

@media screen and (max-width: 455px) {
  .wrapper {
    min-height: 250px;
    grid-template-columns:repeat(7, 40vw);

  }

  img {
    display: none;
  }
}