
.main {

  display: flex;
  height: auto;

  max-width: 100%;
  min-width: 0;
  min-height: 0;

}

img {

  height:305px;
  width: 200px;
  min-width: 200px;
}

.wrapper {
  max-width: 100%;
  height: 360px;
  width: auto;
  display: grid;
  grid-template-columns:repeat(7, 25vh);
  grid-gap: 1px;
  overflow: scroll;

}

.wrapper > span {


}

.wrapper > span > ul {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type:none;
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  font-size: 20px;

}
.wrapper > span > ul > li{

  padding-left: 5px;
  padding-right: 5px;
  height: 50px;
  margin:10px 0;

}

.wrapper > span > h2 {
  text-align:center;
}


#week-counter{
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

#next{

  float: right;
  padding-right: 7%;

}