{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Register</title>
    {% endblock %}

</head>
{% block body %}
<body>
    <div class="wrapper">
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <script>
                document.querySelector('.alert-dismissible button.close').addEventListener('click', (e) => {
                    e.currentTarget.parentElement.remove();
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" class="signup" autocomplete="off">
  <h1>Create account</h1>
  <h2>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></h2>

  <div class="standard-field">
    <input class="standard-input" type="text" name="username" maxlength="16" id="username" required />
    <label class="standard-label" for="username">Username</label>
  </div>

  <div class="standard-field">
    <input class="standard-input" type="text" name="email" id="email" required />
    <label class="standard-label" for="email">Email</label>
  </div>

  <div class="standard-field">
    <input class="standard-input" type="password" name="password" id="password" required />
    <label class="standard-label" for="password">Password</label>
  </div>
    <div class="standard-field">
    <input class="standard-input" type="text" maxlength="14" name="fname" id="fname" required />
    <label class="standard-label" for="fname">First Name</label>
  </div>
    <div class="standard-field">
    <input class="standard-input" type="text" maxlength="14"name="lname" id="lname" required />
    <label class="standard-label" for="lname">Last Name</label>
  </div>

  <button type="submit">Sign up</button>
</form>
    </div>
</body>
</html>
{% endblock %}